.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    /* background-image: url(../src/img/texture2.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    
    
    z-index: 999;
    opacity: 1;
    
}
.load{
    position: absolute;
    /* border: 1px solid black; */
    right: 50px;
    width: 100px;
    height: 50px;
    bottom: 30px;
    padding: 5px;
    
}

.element{
    background-color: black;
    width: 4px;
    height: 32px;
    margin: auto;
    animation: Loop 1s linear infinite;
}

.element::before, 
.element::after,
.element2::before, 
.element2::after{
    content: '';
    position: absolute;
    background-color: black;
    width: 4px;
    height: 40px;
    margin: auto 0px;
    
}

.element::after{
    left: 10px;
    top: 9px;
    height: 14px;
    animation: Loop 1s linear infinite; /*4 segundos de duração, loop infinito */
}

.element::before{
    top: 9px;
    left: -10px;
    height: 14px;
    animation: Loop 1s linear infinite; /*4 segundos de duração, loop infinito */
}
.element2::after{
    left: 69px;
    top: 14px;
    height: 13px;
    animation: Loop 1s linear infinite; /*4 segundos de duração, loop infinito */
    
}

.element2::before{
    left: 28px;
    top: 14px;
    height: 13px;
    animation: Loop 1s linear infinite; /*4 segundos de duração, loop infinito */
}

.FadeOut{
    animation: fadeOut 2s forwards;
}


@keyframes Loop {
    0% {
      transform:  scaleY(1) 
    }
    25% {
        transform:  scaleY(1.4);
    }
    50% {
        transform:  scaleY(1.8);
    }
    75% {
        transform:  scaleY(1.4);
    }
    100% {
        transform:  scaleY(1);

    }
  }
  
  @keyframes fadeOut {
      0% {
            opacity: 1;    
      }
      100% {
            opacity: 0;
            z-index: -2;
      }
    }
